<connectionStrings>
  <add name="DefaultConnection"
    connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-Website-e28f4fc3-a862-443f-9283-8475a1287584;AttachDbFilename=|DataDirectory|\aspnet-Website-e28f4fc3-a862-443f-9283-8475a1287584.mdf;Integrated Security=SSPI"
    providerName="System.Data.SqlClient"/>
  <add name="ChinookDB"
       connectionString="Data Source=.; Initial Catalog=Chinook; Integrated Security=true"
       providerName="System.Data.SqlClient"/>
</connectionStrings> 